@import url('reset.css');

html, body {
    font-family: Verdana, sans-serif;
}

body {
}

.converter_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    min-height: 90vh;
    padding: 2%;
}

.auth {
    background-color: #333;
    padding: 1px;
}

.header_msg {
    color: #ddd;
    float: right;
    padding-top: 10px;
    margin-right: 5px;
}

.main_content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.image_load {
    padding: 10px;
}

.source_image {
    display: flex;
    max-width: 800px;
}

.hidden {
    display: none;
}

.notvisible {
    visibility: hidden;
}

.tools {
    white-space: nowrap;
}

.tools input[class="button"],
.tools input[type="submit"]{
    text-align: center;
    margin-bottom:1em;
}

.tools input[type="checkbox"] {
    margin: 0.4em;
}

.tools input[type="text"]{
    width: 25px;
    margin-left: .5em;
    margin-right: .2em;
}

.tools input[datatype="size"]{
    width: 45px;
}

.sub_option,
.wm_preview {
    margin-left: 1.5em;
    margin-bottom: 1em;
}

.tools_panel {
    float: right;
    padding: .2em;
    min-height: 300px;
}

.buttons_panel {
    min-height: 9em;
    position: relative;
}

.save_load_buttons {
    bottom: 0;
    display: flex;
}

.button {
    margin: 5px;
}

.menu_button {
    float: right;
}

.menu_button a {
    color: white;
}

.clearfix:after,.clearfix:before {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

.errorMsg {
     position: absolute;
     display: inline-block;
     text-align: center;
     background-color: lightyellow;
     padding: 2px;
     border: 1px solid red;
     min-width: 170px;
     font-size: .8em;
}

.button {
    background: #2E8CE3;
    padding: 7px 15px;
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border: solid 1px #73C8F0;
    cursor: pointer;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#73C2FD),
    to(#2E8CE3));
    box-shadow: inset 0 1px 0 0 #FFFFFF;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}

.button:hover {
    background: #2E69E3;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#59C2FF),
    to(#2E69E3));
}

.button:active {
    background: #2E69E3;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#59C2FF),
    to(#2E69E3));
    box-shadow: inset 1px 1px 0 0 #004A7F;
    -moz-box-shadow: inset 1px 1px 0 0 #004A7F;
    -webkit-box-shadow: inset 1px 1px 0 0 #004A7F;
    padding: 8px 14px 6px 16px;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    transition: opacity 400ms ease-in;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.modal-wrapper {
    width: 360px;
    position: absolute;
    bottom: 0px;
    margin: 5% 5%;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
}

.login_modal-wrapper {
    width: 320px;
    position: relative;
    margin: 10% auto;
}

.loginForm input {
    width: 100%;
}

input[type="checkbox"].remember {
    display: none;
}

.remember::before {
    display: inline-block;
    content: " ";
    padding: 5px;
    border: 1px solid #000000;
    margin-right: 5px;
    transition: border .2s ease;
}

.remember:hover::before {
    transition: all .8s;
    padding: 5px;
    border: 1px solid #00cc00;
}

input[type="checkbox"]:checked~.remember::before{
    background-color: #00cc00;
    padding: 5px;
    border: 1px solid #00cc00;
    transition: all .8s ease;
    transform: rotate(315deg);
}

.closeModal {
    background: #5e5e5e;
    color: #FFFFFF;
    position: absolute;
    right: 0px;
    text-align: center;
    top: 0px;
    width: 20px;
    text-decoration: none;
    border-radius: 0 5px 0 5px;
    cursor: pointer;
}

.closeModal:hover {
    background: #858585;
}

.saveForm {
    margin: auto;
    width: 100%;
}

.formInput, .log_in {
    box-sizing: border-box;
    width: 65%;
    border-radius: 3px;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 5px;
    font-size: 1.1em;
}

.log_in {
    margin-top: 10px;
}

.action_result_message {
    color: green;
    padding-top: .7em;
    transition: 1s;
}

.save_result_message {
    color: red;
    height: 1em;
}

.register {
    margin:auto;
}

.errorMsg {
    position: absolute;
    display: inline-block;
    text-align: center;
    background-color: lightyellow;
    padding: 2px;
    border: 1px solid red;
    min-width: 170px;
    font-size: .8em;
}

.register_form .formInput {
    width: 200px;
}

.register_form .button {
    margin-left: 0;
    margin-top: 10px;
}

.wm_preview {
    max-width: 100px;
}

#wm,
#light {
    display: none;
}

.result_image_wrapper {
    padding: 5px;
    padding-top: 25px;
    margin: auto;
    margin-top: 30px;
    background-color: white;
    box-sizing: content-box;
    position: absolute;
    left: 9%;
    border-radius: 5px;
}

.right {
    margin-left: .1em;
}

.top_bottom {
    margin-left: 2.5em;
}

.confirm {
    margin-top: 15px;
}

.radio_as_buttons div {
    float: left;
}

.radio_as_buttons label {
    display: block;
    margin: 0 0 0 -1px;
    padding: 1px 3px;
    border: 1px solid #BBBBBB;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .12);
    cursor: pointer;
}
.radio_as_buttons input:checked + label {
    background: white;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, .2);
}
.radio_as_buttons div:first-child label {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.radio_as_buttons div:last-child label {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.preloader {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(100,100,100,.5);
    background-image: url("/images/core/preloader.gif");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 100;
}

.red {
    color: red;
}

#dropZone {
    color: #555;
    font-size: 18px;
    text-align: center;

    width: 400px;
    padding: 50px 0;
    margin: 50px auto;

    background: #eee;
    border: 1px solid #ccc;
    cursor: pointer;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#dropZone.hover {
    background: #ddd;
    border-color: #aaa;
}

#dropZone.error {
    background: #faa;
    border-color: #f00;
}

#dropZone.drop {
    background: #afa;
    border-color: #0f0;
}

.submit_on_index {
    margin-top: 55px;
}

.form_on_index {
    padding-top: 50px;
}